.aug30 {
    background-image: url(../images/tutorial.png);
}
.sep18a {
    background-image: url(../images/book.jpg);
}
.sep18b {
    background-image: url(../images/storyboard.jpg);
}
.sep18c {
    background-image: url(../images/profile.jpg);
}
.sep18d {
    background-image: url(../images/website.png);
}
.sep19 {
    background-image: url(../images/sep19.png);
}
.sep20 {
    background-image: url(../images/sep20.png);
    background-position: bottom;
}
.sep27 {
    background-image: url(../images/sep27.png);
}
.oct2 {
    background-image: url(../images/oct2);
    background-position: top;
}
.oct11 {
    background-image: url(../images/oct11.png);
}